* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #a2c617;
  --secondary-color: #f1f1f1;
  --dotted-lines-color: black;
  --text-color: #333;
  --winner-section-color: orange;
  --image-button-background-color: gray;
  --header-font-size: 1em;
}
body {
  font-family: "Press Start 2P", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-container {
  width: 50rem;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  background-color: var(--primary-color);
  font-size: var(--header-font-size);
  padding-bottom: 1rem;
}
.main-header {
  text-transform: capitalize;
  margin: 3rem;
}
.score {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15rem;
}
@media screen and (max-width: 47.6em) {
    .score{
        gap: 5rem;
    }
    
}
@media screen and (max-width: 32.5em) {
    .score{
        gap: 2rem;
    }
    .header{
        font-size: .6em;
    }
    .choices-area{
        width: 60%;
    }

   
    
}
.computer-score {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.score-marks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.copyright {
  display: flex;
  flex-direction: row;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
}
.choices-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12rem;
  width: 30%;
  padding: 2rem;
}
.choices-area h1{
  padding-bottom: .5rem;
}
.image-picked {
  border: 3px dotted var(--dotted-lines-color);
  width: 10rem;
  height: 100%;
}
.image-picked p {
  font-size: 5rem;
  text-align: center;
}
.show-winner {
  background-color: var(--winner-section-color);
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 700;
}
@media screen and (max-width: 25rem) {
  .show-winner{
    font-size: 1.5em;
  }
  
}
.pick-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 10.5em;
}
.pick-choice h1 {
  font-size: 0.9em;
}
button {
  background-color: var(--image-button-background-color);
  height: 6rem;
  font-size: 1.5em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}
